
.place {
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
} 

.date {
  text-align: center;
  margin-top: 10px;
}


.tempnow {
  font-size: 100px;
}

.deg {
  font-size: 30px;
  
}


.weatherinfo {
  position: absolute;
  bottom: 20px;
  left: 20px;
  
  
  
}